[Unit]
Description=interview_cough_bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/interview_cough_bot/
ExecStart=/home/interview_cough_bot/env/bin/python3 bot.py
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target